.Judge {
  text-align: center;
}

.Judge-header {
  background-color: #00131b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.Judge-dropdown-header{
  background-color: rgb(26, 136, 233); 
  border-color: #000;
  color: #000;
}
